[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #%]

[% IF donation %]
  <div class="donation_banner home_banner">
    <div class="donation_banner_layout">
      <img src="[% basepath FILTER none %]extensions/BugzillaDonationBanner/web/buggie_watering.png"
           alt="Buggie watering a plant" class="donation_banner_image">
      <div class="donation_banner_content">
        [% IF donation.show_thanks %]
          <p class="donation_banner_thanks">Thanks for upgrading Bugzilla!</p>
        [% END %]
        <p class="donation_banner_message">[% donation.message FILTER html %]</p>
        <p class="donation_banner_cta_row">
          <a href="[% donation.url FILTER html %]" class="donation_banner_cta">Donate to Bugzilla</a>
        </p>
        <details class="donation_banner_dismissal">
          <summary>Remind me later or dismiss this message</summary>
          <form method="post"
                action="[% basepath FILTER none %]extensions/BugzillaDonationBanner/bin/donate.cgi"
                class="donation_banner_form donation_banner_form_subtle">
            <input type="hidden" name="token" value="[% donation.token FILTER html %]">
            <label for="donate_action" class="donation_banner_label">Dismiss and:</label>
            <select id="donate_action" name="donate_action" class="donation_banner_select" required>
              <option value="" selected disabled>Select one</option>
              <option value="next_upgrade">Remind me after the next Bugzilla upgrade</option>
              <option value="week">Remind me in a week</option>
              <option value="month">Remind me in a month</option>
              <option value="date">Pick a date for my next reminder</option>
              <option value="never">Never show this to me again</option>
            </select>
            <span id="donate_banner_date_field" class="donation_banner_date_field" hidden>
              <label for="donate_banner_reminder_date" class="donation_banner_label">Date:</label>
              <input type="date" id="donate_banner_reminder_date"
                     name="donate_banner_reminder_date" value="[% donation.today FILTER html %]">
            </span>
            <button type="submit" class="donation_banner_submit">Save</button>
          </form>
        </details>
        [% IF donation.visibility_note %]
          <p class="notice">[% donation.visibility_note FILTER html %]
          You can configure this notification from the
          <a href="[% basepath FILTER none %][% donation.settings_link FILTER none %]">Parameters</a> page.</p>
        [% END %]
      </div>
    </div>
  </div>
[% END %]
