[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%
   title = "Donation"
   desc = "Configure the Bugzilla donation banner"
%]

[% param_descs = {
  donation_banner_visibility =>
    "Controls which logged-in users can see the donation banner on the "
    _ "$terms.Bugzilla home page."
    _ " <ul><li>'admins_only' shows the banner only to administrators.</li>"
    _ " <li>'end_users' shows the banner to all logged-in users.</li>"
    _ " <li>'disabled' hides the banner for everyone.</li></ul>",
} %]
