<link rel="stylesheet" href="[% basepath FILTER none %]extensions/BugzillaDonationBanner/web/donation-banner.css">
<script [% script_nonce FILTER none %] src="[% basepath FILTER none %]extensions/BugzillaDonationBanner/web/donation-banner.js" defer></script>
