[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #%]

[% UNLESS Param('donation_banner_visibility') == 'disabled' %]
  [% CALL tabs.import([{
      name => 'donate',
      label => 'Donate to Bugzilla',
      link => 'userprefs.cgi?tab=donate',
      saveable => 1
    }]) %]
[% END %]
